

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    gap: 20px;
    background-color: rgb(54, 50, 50);
}

#Home,#Contact{
    padding: 20px;
    border-radius: 10px;
    width: 200px;

}

.contact-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

input{
    padding: 10px;
    border-radius: 10px;
}

.div-contact-form{
   display: flex;
   flex-direction: column;
   width: 500px;
   margin-bottom: 20px;
}

.div-submit{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

#submit-button{
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}

.div-home-h1{
    justify-content: center;
    display: flex;
    width: 100%;
}

.item-container{
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
}


#item-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;   
    list-style-type: none;
    border-color: black;
    justify-content: center;
}

#homeLi{
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
}

#loader{
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#form-success{
    display: none;
    justify-content: center;
    margin-top: 100px;
    font-size: 100px;
    color: green;
}
.div-form-success{
    display: flex;
    justify-content: center;
}

.error{
    color: red;
    display: none;
}

#details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#item-name{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 50px;
}
#item-properties{
    display: block;
    width: 100%;
    gap: 10px;
    font-size: 30px;
    list-style-type: none;
}